<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.opentox">
         <service
               id="net.bioclipse.opentox.localhost"
               name="Ambit2 - Localhost"
               serviceURL="http://localhost:8080/ambit2/"
               serviceSPARQL="http://localhost:8080/ontology/">
         </service>
   </extension>

</plugin>
