<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.bioclipse.opentox" name="opentox" schema="schema/net.bioclipse.opentox.exsd"/>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.opentox.business.OpentoxManagerFactory"
            id="net.bioclipse.opentox.business.OpentoxManager">
      </scriptContribution>
   </extension>

    <!--extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.bioclipse.opentox.prefs.OpenToxPreferenceInitializer">
      </initializer>
   </extension-->

   <extension point="org.eclipse.ui.preferencePages">
    	<page id="net.bioclipse.opentox.prefs.ServicesPreferencePage"
  	      	name="OpenTox"
	      	class="net.bioclipse.opentox.prefs.ServicesPreferencePage">
	   	</page>
    	<page
           category="net.bioclipse.opentox.prefs.ServicesPreferencePage"
           class="net.bioclipse.opentox.prefs.NetworkPreferencePage"
           id="net.bioclipse.opentox.prefs.NetworkPreferencePage"
           name="Network">
	   	</page>
   </extension>
   
   <extension
         point="net.bioclipse.usermanager.accountType">
      <AccountType
            id="net.bioclipse.opentox.OpenSSOAccount"
            logoPath="platform:/plugin/net.bioclipse.opentox.ui/icons/opentox.jpg"
            name="OpenTox">
         <property
               name="username"
               required="true"
               secret="false">
         </property>
         <property
               name="password"
               required="true"
               secret="true">
         </property>
         <property
               defaultValue="http://opensso.in-silico.ch/opensso/identity"
               name="auth. service"
               required="true"
               secret="false">
         </property>
      </AccountType>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.bioclipse.opentox.business.OpentoxPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="net.bioclipse.usermanager.testLogin">
         <TestLogin
            testClass = "net.bioclipse.opentox.business.TestLogin">
         </TestLogin>
   </extension>

</plugin>
